
  table{
    background-color: lightblue;
    max-width: 320px;
    max-height: 280px;
    
  
  }
body{
    background-image: url(paper.png);
    background-size: cover;
}

#start{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}

td{
    border-style: solid;
    border-color: black;
    height: 80px;
    width: 100px;
    max-width: 100px;
}
select{
    width: 100px;
    height: 100px;
    font-size: 70px;
}
#score{
    font-size: 34px;
}
