body{
    background-image: url(dinner.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
}
   
#share{
     padding:5px;
    width: 30px;

   
}


#cal{
    background-image: url(paper.jpg) ;
   background-size:cover;
   background-repeat: no-repeat;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 5%;
    top: 15%;
    
    font-family: cursive;
    font-size:large;

}
#tipEach{
    font-size: xx-large;
    color:firebrick;
    text-shadow: 2px 2px 2px black;
}
div{
    text-align: center;
}