body{
    background-image: url(question.jpg);
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px darkblue;
}
div{
    height: 400px;
    color: black;
}
#div1{
    background-color: dimgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    
}
#div2{
    background-color: dimgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
   

}
#div3{
    background-color: dimgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    


}